@page "/admin"

<PageTitle>Admin page</PageTitle>

@using LicenseClient.Data
@inject LicenseService LicenseService

<h1>Admin page</h1>

@if (licenses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Renter</th>
            <th>Rented time</th>
            <th>Rent expiration</th>
            <th>Time left</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var license in licenses)
            {
                <tr>
                    <td>@license.Identifier</td>
                    <td>@license.RentalInformation.Status.ToString()</td>
                    <td>@license.RentalInformation.Renter?.ToString()</td>
                    <td>@license.RentalInformation.RentedTime.ToLongTimeString()</td>
                    <td>@license.RentalInformation.RentExpirationTime.ToLongTimeString()</td>
                    <td>@license.RentalInformation?.TimeLeft().ToTimeSpan()</td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="AddLicense">Add License</button>
<input type="text" @bind="@input" />
@input

@code {
    private LicenseServer.License[]? licenses;

    private System.Timers.Timer? timer;

    private string? input;

    protected override async Task OnInitializedAsync()
    {
        await UpdateLicenseList();
    }

    private async Task UpdateLicenseList()
    {
        licenses = (await LicenseService.GetLicensesAsync()).ToArray();
        timer = new System.Timers.Timer();
        timer.Interval = 1000;
        timer.Elapsed += async (object? sender, System.Timers.ElapsedEventArgs e) =>
        {
            await InvokeAsync(StateHasChanged);
        };
        timer.Enabled = true;
    }

    private async Task AddLicense()
    {
        if (input == null)
        {
            return;
        }

        await LicenseService.AddLicense(input);
        await UpdateLicenseList();
    }
}
